/* overwriting default styles  */
body {
    margin: 0;
    background-color: rgba(111, 179, 184, 0.5);
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* background */
/* .background{
    background: url("./spices.jpg") center/cover;
    filter: grayscale(40%);
    filter: blur(2px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -10;
} */

/* header styles */

.header-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 10;
    background-color: rgb(56, 128, 135);
    color: rgb(255, 255, 240);
    font-size: 18px;
}

.title {
    width: 60%;
    padding: 0px 10px;
    font-family: "Merriweather", serif;
}

.info__circle {
    border: 1px solid rgb(250, 249, 246);
    display: inline-block;
    border-radius: 50%;
    height: auto;
}

.info__circle_visible {
    background-color: black;
    color: rgb(250, 249, 246);
    border: 1px solid rgb(250, 249, 246);
}

/* .info__circle:hover,
.info__circle:active {
    background-color: black;
    color: white;
} */

.toggle_info {
    display: none;
    position: fixed;
    bottom: 0;
    color: rgb(255, 255, 240);
    background-color: #a9927d;
    padding: 14px 10px;
    width: auto;
    height: auto;
    margin-block-end:0;
    margin-block-start:0;
    border-bottom: 2px solid black;
    /* font-family: "Noto Sans JP", sans-serif; */
}

.toggle_info_visible {
    display: block;
}

.toggle_div {
    display: flex;
    flex-direction: column;
}

/* .toggle_info.visible{
    
} */

/* form with adds items to list */

.sub-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 0px;
    border-bottom: 2px solid black;
    margin-top: 80px;
}

.sub-two div {
    padding: 12px 0px;
}

.form_sub_one {
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_sub_one div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.mid-two {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* display list items form */

.form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 0px;
    border-bottom: 2px solid black;
    font-family: "Noto Sans JP", sans-serif;

}

.form2 div {
    padding: 6px 0px;
}

.breakFastLi {
    display: none;
}

.breakFastLi_visible {
    display: flex;
}

.lunchLi {
    display: none;
}

.lunchLi_visible {
    display: flex;
}

.snackLi {
    display: none;
}

.snackLi_visible {
    display: flex;
}

.dinnerLi {
    display: none;
}

.dinnerLi_visible {
    display: flex;
}

/* delete button  */

.delete-button {
    height: 10px;
}
