body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #88bdbc;
}

label {
    font-family: "Lato", sans-serif;
}

p{
    font-size: 10px
}

ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header-div {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1px;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 12vh;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.title {
    width: 70%;
    padding: 0px 10px;
    display: inline-block;
}

.info {
    width: 30%;
    text-align: center;
}

.info__circle {
    border: 1px solid black;
    display: inline-block;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

.info__circle_visible {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* .info__circle:hover,
.info__circle:active {
    background-color: black;
    color: white;
} */

.toggle_info {
    display: none;
}

.toggle_info_visible {
    display: flex;
}

.toggle_div{
    display: flex;
    flex-direction:column ;
}

/* .toggle_info.visible{
    
} */

.sub-two {
    height: 73vh;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 500px;
}

.sub-two div {
    padding: 20px 0px;
}

.form_sub_one {
    font-family: "Lato", sans-serif;
}

.mid-two {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form2{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    padding:70px 100px;
    border-bottom: 2px solid black;
}

.form2 div{
    padding: 6px 0px;
}

.breakFastLi{
    display: none;
}

.breakFastLi_visible{
    display: flex;
}

.lunchLi{
    display: none;
}

.lunchLi_visible{
    display: flex;
}

.snackLi{
    display: none;
}

.snackLi_visible{
    display: flex;
}

.dinnerLi{
    display: none;
}

.dinnerLi_visible{
    display: flex;
}